<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/logo.ico" type="image/gif" sizes="16x16">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" >
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>Edit</title>
</head>
<body class="">
      <%- include("partials/navEmplo") %>
      
      <main role="main" class="container paddingY">
        <div class="container py-4 mb-2 bg-white shadow-sm">
            <h2 class="text-center">My Profile</h2>
            <hr class="mx-md-4">
            <form class="image-edit mb-2">
                <div class="row py-4">
                    <div class="mx-auto editImg">
                        <img src="https://i.pinimg.com/originals/58/51/2e/58512eb4e598b5ea4e2414e3c115bef9.jpg" alt="profile image" class="rounded-circle m-auto border profileImg">
                    </div>
                </div>
            </form>

            <form class="user-info mb-2 mx-md-5">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="fullname"><h4>Username</h4></label>
                      <input type="text" class="form-control rounded-pill" id="fullname" placeholder="" autocomplete="off">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="email"><h5>Email</h5></label>
                      <input type="email" class="form-control rounded-pill" id="email" placeholder="Email">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="tel"><h5>Telephone</h5></label>
                      <input type="text" class="form-control rounded-pill" id="tel" placeholder="Telephone">
                    </div>
                  </div>
                  <div class="form-row">
                      <button class="btn btn-primary mr-auto px-4 rounded-pill" type="button" data-toggle="modal" data-target="#modal1" id="edit-acc"><i class="fal fa-user-edit"></i> Save Changes</button>
                      <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Edit User Information</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to edit your account information?
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal" type="submit" id="save-changes">Save changes</button>
                            </div>
                        </div>
                        </div>
                        </div>
                      <button class="btn btn-outline-danger ml-auto px-4 rounded-pill" type="button" data-toggle="modal" data-target="#modal2"><i class="fad fa-trash-alt"></i> Delete Account</button>
                  </div>
            </form>
        </div>

      </main>

        <div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Account?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    This action will be permanent!
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="delete-acc"><i class="fad fa-trash-alt"></i> Delete Account</button>
                </div>
            </div>
            </div>
        </div>

        <%- include("partials/footerEmplo") %>

    <script src="https://code.jquery.com/jquery-3.3.1.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/js/emplo/infoEmploEdit.js"></script>
    <script src="/js/search.js"></script>
  </body>
</html>