<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/logo.ico" type="image/gif" sizes="16x16">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" >
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>Edit</title>
</head>
<body class="">
	<%- include("partials/navCandi") %>
      
	<main role="main" class="container paddingY">
	  <div class="container py-2 mb-2">
		  <!-- <h2 class="text-center">My Profile</h2>
		  <hr class="mx-md-4"> -->
		  <!-- <form class="image-edit mb-2">
			  <div class="row py-4">
				  <div class="mx-auto editImg">
					  <img src="\images\candidate.png" alt="profile image" class="rounded-circle m-auto border profileImg">
				  </div>
			  </div>
		  </form> -->
		  	<div class="card border border-dark mx-4 mb-3">
				<div class="card-header job-card-header">
					<h4>Edit Profile</h4>
				</div>
				<div class="card-body">
					<div class="updated">

					</div>
					<form class="user-info p-3">
						<div class="form-group row d-flex justify-content-center">
							<label for="fullname" class="col-xs-2 col-sm-6 col-lg-3 col-form-label"><h5><i class="fal fa-user-alt"></i> Username</h5></label>
							<div class="col-xs-4 col-sm-6 col-lg-4">
								<input type="text" class="form-control rounded-pill" name="fullname" id="fullname" placeholder="Username" autocomplete="off">
							</div>  
						</div>
						<div class="form-group row d-flex justify-content-center">
							<label for="email" class="col-xs-2 col-sm-6 col-lg-3 col-form-label"><h5><i class="fal fa-envelope"></i> Email</h5></label>
							<div class="col-xs-4 col-sm-6 col-lg-4">
								<input type="email" class="form-control rounded-pill" disabled name="email" id="email" placeholder="Email">
							</div>
						</div>
						<div class="form-group row d-flex justify-content-center">
							<label for="tel" class="col-xs-2 col-sm-6 col-lg-3 col-form-label"><h5><i class="fal fa-phone-square-alt"></i> Telephone</h5></label>
							<div class="col-xs-4 col-sm-6 col-lg-4">
								<input type="text" class="form-control rounded-pill" name="tel" id="tel" placeholder="Telephone">
							</div>
						</div>
						<div class="form-group d-flex justify-content-center">
							<button class="btn btn-primary px-4 mr-5 rounded-pill" type="submit" data-toggle="modal" data-target="#modal1" id="save-changes"><i class="fal fa-user-edit"></i> Save Changes</button>
							<!-- <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
							  <div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLabel">Edit User Information</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
									</div>
									<div class="modal-body">
										Are you sure you want to edit your account information?
									</div>
									<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
									<button type="button" class="btn btn-primary" data-dismiss="modal" type="submit" id="save-changes">Save changes</button>
									</div>
								</div>
							  </div>
							</div> -->
							<button class="btn btn-outline-danger px-4 rounded-pill" type="button" data-toggle="modal" data-target="#modal2"><i class="fad fa-trash-alt"></i> Delete Account</button>
						</div>
				  </form>
				</div>
			</div>
			<!-- PASSWORD FORM -->
			<div class="card border border-dark mx-4">
				<div class="card-header job-card-header">
					<h4>Change Password</h4>
				</div>
				<div class="card-body">
					<div class="updated-password">

					</div>
					<form class="change-password mb-2 p-3">
						<div class="form-group row d-flex justify-content-center">
							<label for="password1" class="col-xs-2 col-sm-6 col-lg-3 col-form-label"><h5>New password</h5></label>
							<div class="col-xs-4 col-sm-6 col-lg-4">
								<input type="password" class="form-control rounded-pill" name="password1" id="password1" placeholder="Password" autocomplete="off">
							</div>  
						</div>
						<div class="form-group row d-flex justify-content-center">
							<label for="password2" class="col-xs-2 col-sm-6 col-lg-3 col-form-label"><h5>Repeat password</h5></label>
							<div class="col-xs-4 col-sm-6 col-lg-4">
								<input type="password" class="form-control rounded-pill" name="password2" id="password2" placeholder="Password" autocomplete="off">
							</div>  
						</div>
						<div class="form-group d-flex justify-content-center">
							<button class="btn btn-primary px-4 rounded-pill" type="submit" id="edit-password"><i class="fal fa-lock-alt"></i> Save Password</button>
						</div>
				  </form>
				</div>
			</div>
		  
	  </div>

	</main>

	  <div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		  <div class="modal-content">
			  <div class="modal-header">
			  <h5 class="modal-title" id="exampleModalLabel">Delete Account?</h5>
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				  <span aria-hidden="true">&times;</span>
			  </button>
			  </div>
			  <div class="modal-body">
				  This action will be permanent!
			  </div>
			  <div class="modal-footer">
			  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			  <button type="button" class="btn btn-danger" data-dismiss="modal" id="delete-acc"><i class="fad fa-trash-alt"></i> Delete Account</button>
			  </div>
		  </div>
		  </div>
	  </div>
      
	  <%- include("partials/footerCandi") %>

    <script src="https://code.jquery.com/jquery-3.3.1.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>

	<script src="/js/infoCandiEdit.js"></script>
	<script src="/js/search.js"></script>
  </body>
</html>