<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/logo.ico" type="image/gif" sizes="16x16">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/tooltipster/3.3.0/css/tooltipster.min.css" />


    <link rel="stylesheet" href="/css/style.css">
    <title>Sign Up</title>
</head>
<body class="" id="login">
    <div class="h-100 d-flex p-5 mx-auto flex-column">
        <form class="mx-auto col-lg-4 py-3 px-5 bg-light rounded shadow needs-validation" id="signup" method="POST" novalidate>
            <div class="text-center">
                <a href="/"><img class="logo mb-4" src="/images/circle.png" alt="" class="text-center"></a>
            </div>
            
            <h1 class="h3 mb-3 font-weight-normal text-center">Get Started!</h1>
            <hr class="col-lg-4">

            <div class="form-group row">
                <label for="inputFname" class="col-sm-3 col-form-label">First Name:</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control rounded-pill" name="fname" id="inputFname" placeholder="First Name">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputLname" class="col-sm-3 col-form-label">Last Name:</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control rounded-pill" name="lname" id="inputLname" placeholder="Last Name">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputTel" class="col-sm-3 col-form-label">Phone:</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control rounded-pill" name="tel" id="inputTel" placeholder="Telephone">
                </div>
            </div>
    
            <hr class="col-xs-12">
    
            <div class="form-group row">
                <label for="inputEmail" class="col-sm-3 col-form-label">E-mail:</label>
                <div class="col-sm-9">
                    <input type="email" class="form-control rounded-pill" name="email" id="inputEmail" placeholder="E-mail">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-3 col-form-label">Password:</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control rounded-pill" name="password" id="inputPassword" placeholder="Password">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputConfirmPassword" class="col-sm-3 col-form-label">Confirm password:</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control rounded-pill" name="password2" id="inputConfirmPassword" placeholder="Confirm password">
                </div>
            </div>
            <fieldset class="form-group">
                <div class="row">
                    <legend class="col-form-label col-sm-4 pt-0">Signup as:</legend>
                    <div class="col-sm-8">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="role" id="gridRadios1" value="CANDI" >
                            <label class="form-check-label" for="gridRadios1">
                                Candidate
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="role" id="gridRadios2" value="EMPLO">
                            <label class="form-check-label" for="gridRadios2">
                                Interviewer
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="form-group text-center block">
                <button type="submit" class="btn btn-outline-primary btn-block rounded-pill block">Sign up</button>
            </div>
            <h6 class="text-center">Already have an account? <a href="/login"> Sign in!</a></h6>
          </form>
    </div>

    
    <script src="https://code.jquery.com/jquery-3.3.1.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    <script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>

    <script src="/js/signup.js"></script>
</body>
</html>