    <!-- Footer -->
	<section id="footer">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left justify-content-center">
				<div class="col-xs-12 col-sm-6 col-md-6 text-center">
					<h4 class="text-white mb-2">Jobber</h4>
					<ul class="list-unstyled quick-links">
						<li>
                            <a href="/users/myprofile"><img src="/images/circle.png" class="logo-footer" alt="jobber-logo"></a>
                        </li>	
					</ul>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6">
					<h4 class="text-white text-center mb-2">Quick links</h4>
					<div class="d-flex justify-content-center">
						<ul class="list-unstyled quick-links mx-auto">
							<li><a href="/users/myprofile"><i class="fa fa-angle-double-right"></i>Dashboard</a></li>
							<li><a href="/users/myprofile/edit"><i class="fa fa-angle-double-right"></i>My Profile</a></li>
							<li><a href="/users/e/jobs"><i class="fa fa-angle-double-right"></i>My Jobs</a></li>
							<li><a href="#"><i class="fa fa-angle-double-right"></i>About</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
					<ul class="list-unstyled list-inline social text-center">
						<li class="list-inline-item"><a href="https://stackoverflow.com/" target="_blank"><i class="fab fa-stack-overflow"></i></a></li>
						<li class="list-inline-item"><a href="https://stackexchange.com/" target="_blank"><i class="fab fa-stack-exchange"></i></a></li>
						<li class="list-inline-item"><a href="https://nodejs.org/" target="_blank"><i class="fab fa-node-js"></i></a></li>
						<li class="list-inline-item"><a href="https://getbootstrap.com/" target="_blank"><i class="fab fa-bootstrap"></i></a></li>
						<li class="list-inline-item"><a href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
					</ul>
				</div>
				<hr>
			</div>	
		</div>
    </section>
    <div class="bg-dark">
        <div class="col-xs-12 col-sm-12 col-md-12 pt-3 text-center text-white">
            <p class="h6">© Jobber 2021 Thesis Dissertation. All Rights Reversed.</p>
        </div>
        <hr>
    </div>	
	<!-- ./Footer -->
	